.app {
    color: black;
    font-family: sans-serif, "Segoe UI";
    background-color: grey;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;

}

.wrapper {
    padding-left: 20%;
    padding-top: 50px;
}

.shipper_page {
    font-size: 36px;
    text-align: center;
    padding-top: 50px;
}

.role {
    text-decoration: none;
    width: 211px;
    height: 125px;
    background: #C3F8EE;
    box-shadow: 2px 5px 10px 6px rgba(207, 207, 207, 0.25);
    border-radius: 5px;
    text-align: center;
    line-height: 125px;
    font-size: 24px;
}

.role:hover {
    cursor: pointer;
    opacity: 0.6;
}

.role_shipper {
    background: #67db67;

}

.main_title {
    font-size: 48px;
    text-align: center;
}

.roles_wrapp {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    justify-content: space-evenly;
}

.login_wrapp {
    padding-top: 50px;
}

.form {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.link_to_signup a {
    color: #677edb;
    padding: 5px;
}

.link_to_signup a:hover {
    color: #8698e2;

}

.navbar {
    position: absolute;
}

.navbar-expand-lg {
    display: flex;
    flex-direction: column !important;
    width: 20%;
    height: 100vh;

}

.create_load_link {
    margin: 0 auto;
    width: 311px;
    color: black;
    background: #F7CC5D;
    box-shadow: 2px 5px 10px 6px rgba(207, 207, 207, 0.25);
    border-radius: 8px;
}

.create_load_link:hover {
    opacity: 0.8;
}

.create_load_title {
    text-align: center;
    font-size: 24px;
}

.form_input {
    border: none;
    border-bottom: 1px solid grey;
    padding: 5px;
}

.check_load_info_span {
    font-weight: bold;
}

.create_load_wrapper {
    position: relative;
}

.overlay {
    position: absolute;
    background-color: grey;
    width: 80%;
    height: 100vh;
    top: 0;
    background-color: rgba(137, 131, 131, 0.61);
    z-index: 1;
}

.modal_load_info {
    position: absolute;
    top: 10%;
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    right: calc(40% - 125px);
    z-index: 2;
    opacity: 100%;

}

.loads_wrapp {
    box-sizing: content-box;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    padding: 15px;
    align-items: center;
    padding-right: 80px;
    margin-left: 40px;
    box-shadow: 2px 5px 10px 6px rgba(207, 207, 207, 0.25);
    margin-bottom: 20px;


}

.load_title_wrap {
    width: 80%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 40px;
    font-weight: bold;


}

.post_btn {
    position: absolute;
    right: 10px;
    width: 60px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.loads_wrapp p {
    margin: 0;
    padding: 0;
}

.posted_loads_wrapp {
    grid-template-columns: repeat(5, 1fr);

}

.load_posted_title_wrap {
    grid-template-columns: repeat(5, 1fr);

}

.profile_wrapper {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}

.profile_info_span {
    font-weight: bold;
}

.profile_info {
    padding: 5px;
    border-bottom: 1px solid #cbc9c9;
    max-width: 200px;
}

.logout_btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 100px;
}

.change_pass_btn {
    width: 150px;
    background-color: #58805f;
    border: none;
}

.dropdown_wrap {
    border-radius: 10px;
    border: 1px solid #c7d8f1;
    max-width: 500px;
    position: absolute;
    left: calc(50% - 250px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.dropdown_wrap select{
    font-size: 24px;
    margin-bottom: 20px;
}
.create_truck_btn{
    width: 250px;
    display: block;
    border: none;
    height: 70px;
  position: absolute;
    left: calc(50% - 125px);

}
.trucks_wrapp p:first-child{
    margin-right: 40px;

}
.assigned{
    background-color: red;
}
.assigned:disabled{
    background-color: red;

}
.hidden{
    display: none;
}
.delete_btn{
    position: absolute;
    right: 90px;
}